%p#notice= notice
%h2 Caroneiros
- @caroneiros.each do |caroneiro|
  %tr
  -if @carona.owner == caroneiro.id
    Dono da carona:
  %td=caroneiro.perfil.nome_exibicao
  </br>
</br>
</br>
%p
  %b Hora ida:
  = @carona.hora_ida.strftime('%H:%M')
%p
  %b Hora volta:
  = @carona.hora_volta.strftime('%H:%M')
%p
  %b Limite pessoas:
  = @carona.limite_pessoas
%p
  %b Valor por pessoa:
  = @carona.valor_por_pessoa
-if @carona.owner == current_user.id
  = link_to 'Editar', edit_carona_path(@carona)
  \|
= link_to 'Voltar', caronas_path
