%p#notice= notice

%p
  %b Hora ida:
  = @carona.hora_ida.strftime('%H:%M:%S')
%p
  %b Hora volta:
  = @carona.hora_volta.strftime('%H:%M:%S')
%p
  %b Limite pessoas:
  = @carona.limite_pessoas
%p
  %b Valor por pessoa:
  = @carona.valor_por_pessoa

= link_to 'Edit', edit_carona_path(@carona)
\|
= link_to 'Back', caronas_path


</br>
</br>
%h2 Caroneiros
- @caroneiros.each do |caroneiro|
  %tr
  -if @carona.owner == caroneiro.id
    Dono da carona:
  %td=caroneiro.perfil.nome_exibicao
  </br>